<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oauth </title>
</head>
<body>
    <nav>
        <ul>
           
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/">Homepage</a></li>
            
        </ul>
    </nav>
    <header>
        <h1>
            O auth Test
        </h1>
        <h2>
            Home Page
        </h2>
    </header>

    
</body>
</html>